<div class="services-index">
  <div class="container">
     <div class="section-title">
          <h1 class="float-right">فهرس الخدمات</h1>
          <p class="float-left all--servcies-btn">جميع الخدمات</p>
     </div>
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="business-services-tab" data-toggle="tab" href="#business-services" role="tab" aria-controls="business-services" aria-selected="true">
                    <div class="tabicon">
                        <img src="../../assets/images/icons/n-img_06.png" alt="">
                    </div>
                    <p class="tab-title mb-0 mt-3 text-center">خدمات <br>قطاع الاعمال</p>
                </a>
                <a class="nav-item nav-link active" id="indvedual-services-tab" data-toggle="tab" href="#indvedual-services" role="tab" aria-controls="indvedual-services" aria-selected="true">
                    <div class="tabicon">
                        <img src="../../assets/images/icons/n-img_35.png" alt="">
                    </div>
                    <p class="tab-title mb-0 mt-3 text-center">خدمات <br> الافراد</p>
                </a>
                <a class="nav-item nav-link" id="common-services-tab" data-toggle="tab" href="#common-services" role="tab" aria-controls="common-services" aria-selected="true">
                    <div class="tabicon">
                        <img src="../../assets/images/icons/n-img_32.png" alt="">
                    </div>
                    <p class="tab-title mb-0 mt-3 text-center">الخدمات <br>الاكثر استخداما </p>
                </a>
                <a class="nav-item nav-link" id="all-services-tab" data-toggle="tab" href="#all-services" role="tab" aria-controls="all-services" aria-selected="true">
                    <div class="tabicon">
                        <img src="../../assets/images/icons/n-img_28.png" alt="">
                    </div>
                    <p class="tab-title mb-0 mt-3 text-center"> جميع<br> الخدمات </p>
                </a>
                <a class="nav-item nav-link" id="new-services-tab" data-toggle="tab" href="#new-services" role="tab" aria-controls="new-services" aria-selected="true">
                    <div class="tabicon">
                        <img src="../../assets/images/icons/n-img_15.png" alt="">
                    </div>
                    <p class="tab-title mb-0 mt-3 text-center">خدمات <br> جديدة </p>
                </a>
                
              </div> 
          </nav>
  </div>
            <div class="services-content">
                  <div class="tab-content container" id="nav-tabContent">
              
                          <div class="tab-pane fade" id="business-services" role="tabpanel" aria-labelledby="business-services-tab"><h5>نص لوريم إيبسوم القياسي والمستخدم</h5>
                              <p>
                              لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)ويستخدم في صناعات المطابع ودور النشر. كان لوريم ايبسوم ولازال
                             </p>
                          </div>
                          <div class="tab-pane fade show active" id="indvedual-services" role="tabpanel" aria-labelledby="indvedual-services-tab">
                              <div id="indvedualServices" class="service-items">
                                    <owl-carousel 
                                    [options]="{items: 4, dots: false, nav: true, rtl:true, margin:20,
                                        responsive :{
                                            '0' : {
                                                items:1,
                                                nav:false,
                                                dots:true
                                            },
                                            
                                            '480' : {
                                                items:1,
                                                nav:false,
                                                dots:true
                                            },
                                            
                                            '768' : {
                                                items:3,
                                                nav:false,
                                                dots:true
                                            },
                                            
                                            '1200' : {
                                                items:4,
                                                nav: true
                                            }
                                        }
                                    }"
                                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
                                    <div class="item" *ngFor="let servitem of servicsObj;let i = index">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{servitem.title}}</h5>
                                                <p class="card-text">{{servitem.description}}</p>
                                            </div>
                                            <div class="card-footer">
                                                <ul class="list-inline p-0 m-0">
                                                    <li class="list-inline-item">
                                                        <img src="../../assets/images/icons/n-img_24.png" alt="">
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <img src="../../assets/images/icons/n-img_26.png" alt="">
                                                    </li>
                                                    <li class="list-inline-item float-left">
                                                        <a href="#/">استفد من الخدمة</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </owl-carousel>
                              </div>
                               
                              
                          </div>
                          <div class="tab-pane fade" id="common-services" role="tabpanel" aria-labelledby="common-services-tab"><h5>نص لوريم إيبسوم القياسي والمستخدم</h5>
                              <p>
                              لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)ويستخدم في صناعات المطابع ودور النشر. كان لوريم ايبسوم ولازال
                             </p>
                          </div>
                          <div class="tab-pane fade" id="all-services" role="tabpanel" aria-labelledby="all-services-tab"><h5>نص لوريم إيبسوم القياسي والمستخدم</h5>
                              <p>
                              لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)ويستخدم في صناعات المطابع ودور النشر. كان لوريم ايبسوم ولازال
                             </p>
                          </div>
                          <div class="tab-pane fade" id="new-services" role="tabpanel" aria-labelledby="new-services-tab"><h5>نص لوريم إيبسوم القياسي والمستخدم</h5>
                              <p>
                              لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)ويستخدم في صناعات المطابع ودور النشر. كان لوريم ايبسوم ولازال
                             </p>
                          </div>
                         
                        </div>
            </div>
  </div>
